.home {
  display: flex;
  // background-image: image-url("photo6.jpeg"), linear-gradient(to right, #1CB5E0, #000046);
  background-image: linear-gradient(-225deg, rgba(6, 6, 6, 0.2) 0%, rgba(0, 36, 61, 0.4) 50%), image-url("photo6.jpeg");
  background-size: cover;
  // background-position: cover;
  height: calc(100vh - 65px);
  justify-content: center;
  align-items: center;
}

.home .title {
  color: white;
  text-shadow: 0px 0px 5px #000000;
  padding-bottom: 15px;
}

.home-content {
  display: flex;
  margin-top: -90px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
