.rental-dashboard {
  padding: 3vw;

  .card-text p {
    margin-bottom: 2px;
  }
}

.rental-rides-index {
  display: flex;
  flex-wrap: wrap;
}

.state-finished {
  color: $pink;
}

.state-in-progress {
  color: $green;
}

.state-upcoming {
  color: $yellow;
}

