.main-rides-container {
  display: flex;
  flex-wrap: wrap;

  .rides-left-column {
      width: 100%;
      flex: 1 1;
  }
  .rides-index {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    width: 100%;
    justify-content: space-around;
  }

  #map {
  height: 100vh;
  position: sticky !important;
  /*flex-basis: 450px;*/
  flex: 0 1 300px;
  top: 0 !important;
  }

  @media (max-width: 620px) {
    #map {
      display: none;
    }
  }
}

.global-rating {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.global-rating.global-rating-new {
  background-color: #f1f1f1;
}

.rides-index-searchbar {
  margin: 4% 4% 0 4%;
  form {
    width: 100%;
    box-sizing: initial;
  }
}




