.user-dashboard {
  display: flex;
  flex-wrap: wrap;
  padding: 4vw;
  justify-content: center;
}

.user-identity {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  padding: 0 3vw 3vw 0;
  align-items: center;
  .avatar-large {
    margin-bottom: 35px;
  .divider {
    border-top: 1px solid #e6e6e6;
    width: 200px;
    margin: 10px 0 20px 0;

  }
  }
  .user-actions {
    display: flex;
    flex-direction: column;
  }
}

.user-bookings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  .user-booking {
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    padding: 32px;
    border-bottom: 1px solid #e6e6e6;
    img {
      margin-right: 10px;
    }
    .details {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      max-width: 400px;
    }
  }
}

.user-btn-message {
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
}

.user-details {
  word-break: break-word;
  max-width: 160px
}
