<div class="footer">
  <div class="footer-left">
    <div><i class="fab fa-twitter"></i></div>
    <div><i class="fab fa-facebook"></i></div>
  </div>
  <div class="footer-right">
    About
  </div>
</div>
