<div class="home">
  <div class="home-content">
    <h2 class='title'>
      Pick a location and book your ride!
    </h2>
    <div class="home-form">
      <%= form_tag rides_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "home-query",
          placeholder: "Search by location"
        %>
        <button class="btn btn-success" type="submit">
          Go
        </button>
      <% end %>
    </div>
  </div>
</div>

