.btn-pink {
  background-color: $pink;
  border: $pink;
  border-radius: 7px;
  color: white;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-bike {
  border-radius: 7px;
  color: white;
  padding: 8px;
  margin: 10px;
}

.important-btn {
  background-color: #e65e5c;
  border: $pink;
  border-radius: 7px;
  color: white;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px;
}

.edit-btn {
  background-color: $green;
  border: $green;
  font-size: 12px;
  font-weight: 400;
  color: $light-green;
}
.delete-btn {
  background-color: $dark-gray;
  border: $dark-gray;
  font-size: 12px;
  font-weight: 400;
  color: $light-gray;
}

.btn-back {
  background-color: $dark-gray;
  border: $dark-gray;
}

.btn-primary.btn-review {
  margin-top: 10px;
}
