.btn-pink {
  background-color: #F6605E;
  border: #F6605E;
  border-radius: 7px;
  color: white;
}

.btn-bike {
  border-radius: 7px;
  color: white;
  padding: 5px;
  margin: 10px;
}

.add-review {
  background-color: #F6605E;
  border: #F6605E;
}

.delete-review {
  background-color: #5B3E3D;
  border: #5B3E3D;
}

.edit-review {
  background-color: #F2908E;
  border: #F2908E;
}

.btn-back {
  background-color: #B28180;
  border: #B28180;
}
