@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700,900');

$body-font: "Roboto", sans-serif;
$headers-font: 'Roboto', sans-serif;

a {
  font-family: "Roboto", sans-serif;
  color: gray;
  &:hover {
    text-decoration: none;
    color: gray;
  }
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #3a3a3a;
}
