@import url('https://fonts.googleapis.com/css?family=Montserrat:200|Roboto:100,300,500,700,900');

$body-font: "Roboto", sans-serif;

a {
  font-family: "Roboto", sans-serif;
  color: gray;
  &:hover {
    text-decoration: none;
    color: $dark-gray;
  }
}

h2, h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-weight: 700;
  color: $black;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h6 {
  color: $black;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #5a5a5a
}

.no-margin-bottom {
  margin-bottom: 0px;
}


/* Coolors Exported Palette - coolors.co/f6605e-f4dfde-5b3e3d-b28180-f2908e */

/* HSL */
$color1: hsla(1%, 89%, 67%, 1);
$color2: hsla(3%, 50%, 91%, 1);
$color3: hsla(2%, 20%, 30%, 1);
$color4: hsla(1%, 25%, 60%, 1);
$color5: hsla(1%, 79%, 75%, 1);

/* RGB */
$color1: rgba(246, 96, 94, 1);
$color2: rgba(244, 223, 222, 1);
$color3: rgba(91, 62, 61, 1);
$color4: rgba(178, 129, 128, 1);
$color5: rgba(242, 144, 142, 1);
