.form-wrapper {
  display: flex;
  width: 300px;
  align-items: center;
  min-height: calc(100vh - 65px);
  margin: auto;
  margin-top: 30px;
}

.form-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  .form-actions {
    text-align: center;
  }
  .btn {
    text-align: center;
    color: white;
    background-color: #ff919e;;
    font-weight: 900;
    margin: 10px;
  }
  .shared-devise-links {
    margin-top: 20px;
    a {
      font-weight: 300;
    }
  }
}
