.avatar {
  display: flex;
  flex-direction: column;
  text-align: center;
  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 3px solid rgba(255, 255, 255, 1);
  }
}

.avatar-large {
  display: flex;
  flex-direction: column;
  text-align: center;
  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid rgba(255, 255, 255, 1);
  }
}
