.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.infowindow-card {
  width: 150px;
  .ride-photo img {
    max-width: 145px;
  }
  p {
    margin-bottom: 1px;
  }
  h5 {
    font-size: 15px;
  }
  .card-body {
    padding: 2px;
  }
}

