.logo img {
  height: 40px;
}

.navbar {
  justify-content: space-between;
  height: 65px;
  border-bottom: #e5e5e5 1px solid;
  font-weight: 400;
  font-size: 13px;
  color: gray;
}

.navbar-left {
  display: flex;
  .search-bar {
    padding-top: 5px;
  }
  .form-control {
    width: 50vw;
    font-size: 13px;
  }
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  a {
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    color: #afafaf;
  }
}
.dropdown-menu {
  padding: 0;
  .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .border-bottom {
    border-bottom: 1px solid #efefef;
  }
}
.alert {
  margin-bottom: 0;
}

.filter-container form {
  display: flex;
  padding-top: 5px;
  margin-left: 10px;
  .custom-select {
    color: #6c757d;
  }

  .btn {
    height: 38px;
    margin-left: 5px;
  }
}
